.menumanage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows items to wrap as needed */
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 150px; /* Fixed width for sidebar */
}

.main-content {
  flex-grow: 1; /* Takes the remaining space */
  padding: 20px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.menu-form {
  margin-top: 25px;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  width: 100%; /* Ensures the form is responsive */
  max-width: 500px; /* Maximum width of the form */
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select { /* Added select to the existing input styles */
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

button[type="submit"] {
  background-color: rgb(238, 122, 45);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: rgb(223, 142, 87);
}

/* CSS for Edit button */
.item-container table button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.item-container table button:hover {
  opacity: 0.8;
}

.item-container table td button {
  margin-right: 5px;
}

/* Specific style for the Edit button */
.item-container table td button.edit-btn {
  background-color: #007bff;
  color: white;
}

/* Specific style for the Delete button */
.item-container table td button.delete-btn {
  background-color: #dc3545;
  color: white;
}


@media (max-width: 768px) {
  .menumanage {
      flex-direction: column;
  }

  .sidebar,
  .main-content {
      width: 100%; /* Full width on smaller screens */
  }

  .menu-form {
      padding: 10px; /* Smaller padding on smaller screens */
  }
}

@media (max-width: 480px) {
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="file"],
  .form-group select,
  button[type="submit"] {
      padding: 12px; /* Larger touch targets on very small screens */
  }
}
