.Gallery {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
 
  .Gallery h1 {
    font-size: 24px;
    color: rgb(238, 122, 45);
    margin-bottom: 20px;
  }
  

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  .image-container img {
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
  }
  
  
  .image-container img:hover {
    transform: scale(1.05); 
  }
  