.Menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    margin-top: 20px;
    color: darkblue;
}

.Items ul a{
    flex: 1;
    display: inline-flex;
    align-items: center;
    color: darkblue;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 20px;
}