.Menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    color: rgb(238, 122, 45);
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.Items ul{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
.Items ul li{
    cursor: pointer;
}