.navBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:  rgb(110, 252, 171);
  padding: 15px 7%;
}
.navitems ul a{
  flex: 1;
  list-style: none;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  margin: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #242424;
  
}

.searchBox{
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10PX 20px;
  border-radius: 50px;
}

.searchBox input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
  height: 25px;
}

.searchBox input::placeholder{
  color: #fff;

}

.searchBox img{
  background: #fff;
  width: 30px;
  height: 35px;
  cursor: pointer;
  border-radius: 50px;
}
.barIcon{
  display: none;
}

@media screen and (max-width: 1120px) {
  .navitems ul a{
    display:  none;
    
  }
  .barIcon{
    display: block;
  }
  .navitems.responsive ul{
    position: absolute;
    top: 8%;
    right: 0;
    display: inline-table;
    flex-direction: column;
    background-color: white;
    border: 2px solid #1a0707;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);

}
  .navitems.responsive ul a{
      display: block;
      text-align: center;
      margin: 10px;
      border: 2px solid black;
      background-color: black;
      color: white;
      padding: 5px;
  }
}