.navBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 7%;
}
.navitems ul li{
  flex: 1;
  list-style: none;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  margin: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.searchBox{
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10PX 20px;
  border-radius: 50px;
}

.searchBox input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
  height: 25px;
}

.searchBox input::placeholder{
  color: #fff;

}

.searchBox img{
  background: #fff;
  width: 30px;
  height: 35px;
  cursor: pointer;
}
.barIcon{
  display: none;
}

@media screen and (max-width: 1120px) {
  .navitems ul li{
    display:  none;
    
  }
  .barIcon{
    display: block;
  }
  .navitems.responsive ul{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2);
     */
}
  .navitems.responsive ul li{
      position: absolute;
      right: 0;
      display: inline-table;
      flex-direction: column;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      /* box-shadow: 0 2px 5px rgba(0,0,0,0.2);
       */
  }
}