/* Header Styles */
.header h1 {
    margin-top: 20px;
    background-color: white;
    color: #ee7a2d; /* Hexadecimal color for consistency */
    text-align: center; /* Ensures the title is centered */
}

/* Chef Component Styles */
.Chef {
    background-color: #ee7a2d; /* Consistent color notation */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    padding: 10px; /* Adds padding around the content */
    align-items: center; /* Vertically centers the items in the flex container */
}

/* Photo Gallery Styles */
.Photos {
    margin-top: 20px;
    padding: 25px;
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
    overflow: hidden; /* Prevents overflow issues */
}

.photo {
    position: relative;
    flex: 1 1 300px; /* Flexibility and basis for flex items */
    max-width: 1000px; /* Maximum width for each photo */
    margin: 10px;
}

.photo img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
}

.chef-name {
    position: absolute;
    bottom: 0;
    width: 100%; /* Ensures the name covers the bottom part of the photo */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive Design Adjustments */
@media (max-width: 1024px) {
    .Photos {
        padding: 10px; /* Reduced padding for smaller screens */
    }

    .photo {
        max-width: 500px; /* Adjusts maximum width for tablet devices */
    }
}

@media (max-width: 600px) {
    .Chef {
        flex-direction: column; /* Stacks content vertically on smaller screens */
        width: 100%; /* Uses full width of the viewport */
        padding: 5px; /* Adjust padding to fit smaller screens */
    }

    .Photos {
        flex-direction: column; /* Stacks photos vertically */
    }

    .photo {
        max-width: 100%; /* Photos take full width of their container */
        margin: 5px 0; /* Adjusts margin for a clean vertical stacking */
    }
}
