.profile {
    background-color: white;
    color: rgb(238, 122, 45);
    padding: 20px; 
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 50px;
    max-width: 275px;
    margin: 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
  }