
.app {
    text-align: center;
  }
  
  #header {
    background-color: #000; /* Set your desired background color */
    padding: 20px;
  }
  
  .Navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Navbar2 {
    text-decoration: none;
    color: yellow; /* Set text color to black */
  }
  
  h1 {
    color: white;
    font-family: 'Times New Roman', serif; /* Set font to Roman */
    font-size: 2em; /* Adjust the font size as needed */
    margin: 0;
  }
  
  .NavBar3 ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: solid;
  }
  
  .NavBar3 li {
    justify-content: end;
    align-items: end;
    margin-left: 30px; /* Adjust the spacing between items */
    color: yellow;
    text-decoration: solid;
  }
  
  .NavBar3 a {
    text-decoration: none;
    color: yellow; /* Set text color to black */
  }
  